@import url('https://fonts.googleapis.com/css2?family=Eater&family=Ewert&display=swap');
.main{
    background-color: rgb(62, 59, 7);
    color: beige;
    padding: 10px;
}
.header{
    background-color:ghostwhite;
    padding:20px;
}
.section{
    color: rgb(249, 187, 207);
}
.footer{
    background-color:rgb(181, 179, 134);
    justify-content: center;
}
h1{
    font-family:"Ewert", serif;
}
h2{
    font-family:"Eater", serif;
}
h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}