body{
    background-color:yellow;
}
.eyes{
    display: flex;
    column-gap: 20px;
    margin:20px;
}
#leye{
    background-color: white;
    width:200px;
    height:200px;
}
#reye{
    background-color: white;
    width:200px;
    height:200px;    
}
#leftpupil{
    background-color: rgb(0, 0, 0);
    width:80px;
    height:80px;
    position:relative;
    top:30px;
    left:30px;
}
#rightpupil{
    background-color: rgb(0, 0, 0);
    width:80px;
    height:80px;
    position:relative;
    top:30px;
    left:30px;
}
.teeth{
    background-color: black;
    width:450px;
    height:200px;
    display: flex;
    column-gap: 15px;
    margin-left:20px;
    padding-top:20px;
    padding-left:20px;
}
#t1{
    background-color: white;
    width:40px;
    height:40px;

}
#t2{
    background-color: white;
    width:40px;
    height:40px;

}

#t3{
    background-color: white;
    width:40px;
    height:40px;

}
#t4{
    background-color: white;
    width:40px;
    height:40px;

}
#t5{
    background-color: white;
    width:40px;
    height:40px;
   
}
#t6{
    background-color: white;
    width:40px;
    height:40px;

}
#t7{
    background-color: white;
    width:40px;
    height:40px;
}
.mouth{
    background-color: black;
    width:470px;
    height:200px;
    position:relative;
    margin-left:20px;
}
#tongue{
    background-color: red;
    width: 150px;
    height:150px;
    position:relative;
    left: 150px;
}
#line{
    background-color:black;
    width:20px;
    height:70px;
    position:relative;
    left:215px;
    bottom:150px;
}